@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Permanent+Marker&display=swap');

.navbar {
    display: flex;
    overflow-x: scroll;
    color: #ffffff;
    padding: 10px;
    padding-left: 40px;
    font-family: 'Amatic SC', cursive;
    font-size: large;
}

.navbar {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar > h3 {
    cursor: pointer;
    opacity: 0.7;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 500;
    transition: transform 50ms ease-out;
}

.navbar > h3:hover {
    opacity: 1;
    transform: scale(1.2);
}